@font-face{
    src: url(Fonts/Cherolina.ttf);
    font-family: cherolina;
}

@font-face{
    src: url(Fonts/Poppins-Medium.otf);
    font-family: poppinsMedium;
}

@font-face{
    src: url(Fonts/Poppins-Regular.otf);
    font-family: poppinsRegular;
}

:root{
    font-size: 14px;
    --primary-color: #4F557C;
    --secondary-color: #8080A0;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 1366px !important;
    margin: 0 auto !important;
    overflow-x: hidden;
    font-family: poppinsRegular !important;
    background-color: white !important;
}

p{
    color: var(--primary-color);
}

.titulo{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.titulo h1{
    background-color: yellow;
    height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.galeria .conteudo{
    margin: 15px auto;
    width: 70%;
    background-color: beige;
}

.galeria .conteudo .imagens{
    display: flex;
    justify-content: space-between;
}

.galeria .conteudo .imagens div{
    width: 200px !important;
    margin: 30px 15px;
    height: 300px !important;
    background-color: blue !important;
    object-fit: contain;
    overflow: hidden;
}

.galeria .conteudo .imagens div:nth-child(even){
    transform: translateY(-15px);
    
}

.galeria .conteudo .imagens div img{
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}

.galeria .conteudo .imagens div img:hover{
    transform: scale(1.5);
}

.nossas-solucoes .conteudo .texto{
    text-align: center;
    
}

.cores .info .painel{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.cores .info .painel img{
    width: 100%;
}

.cores .info .opcoes-cores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: pink;
}

.cores .info .opcoes-cores div{
    display: flex;
    width: 100px;
    height: 80px;
    margin: 10px 20px;
    object-fit: cover;
    object-position: center;
}

.cores .info .opcoes-cores div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.acabamentos .conteudo .imagens div{  
    z-index: 1;
    background-color: green !important;
    height: 350px !important;
    position: relative;
    cursor: pointer;
}

.acabamentos .conteudo .imagens div div{
    height: 300px !important;
    margin: 0;
}

.acabamentos .conteudo .imagens div p{
    height: 50px;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.informacao{
    width: 80%;
    margin: 15px auto;
    background-color: pink;
    padding: 20px 40px;
}

.informacao h1{
    text-align: center;
    color: white;
}

.informacao p{
    color: white;
}

.informacao.visao{
    background-color: #163960;
}

.informacao.missao{
    background-color: #2DA537;
}

.informacao.valores{
    background-color: #B7B7B7;
}

.contato{
    background-color: beige;
    width: 80%;
    margin: 0 auto !important;
}

.contato .form input,
.contato .form textarea{
    width: 100%;
}

footer{
    margin: 0;
    padding: 0;
    background-color: #163960;
    height: 250px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 250px;
}