@font-face{
    src: url(Fonts/Montserrat-Regular.ttf);
    font-family: montRegular;
}

@font-face{
    src: url(Fonts/Montserrat-SemiBold.ttf);
    font-family: montSemiBold;
}

@font-face{
    src: url(Fonts/Montserrat-Light.ttf);
    font-family: montLight;
}

@font-face{
    src: url(Fonts/Oswald-Bold.ttf);
    font-family: oswaldBold;
}

:root{
    font-size: 14px;
    --primary-color: #163960;
    --secondary-color: #2DA537;
    --tertiary-color: #B7B7B7;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 1366px !important;
    margin: 0 auto !important;
    overflow-x: hidden;
    font-family: poppinsRegular !important;
    background-color: white !important;
}

p{
    color: var(--primary-color);
    font-family: montRegular;
}

.titulo{
    margin: 20px 0;
    /background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo img{
    width: 50px;
    height: 65px;
    margin-right: 10px;
}

.titulo h1{
    /background-color: yellow;
    height: 100%;
    margin: 0;
    font-family: oswaldBold;
    letter-spacing: 3px;
    font-size: 3.2rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.galeria .conteudo{
    margin: 15px auto;
    width: 70%;
    background-color: beige;
}

.galeria .conteudo .imagens{
    display: flex;
    justify-content: center;
}

.galeria .conteudo .imagens div{
    width: 210px !important;
    margin: 30px 7px;
    height: 300px !important;
    background-color: blue !important;
    object-fit: contain;
    overflow: hidden;
}

.galeria .conteudo .imagens div:nth-child(even){
    transform: translateY(-15px);
}

.galeria .conteudo .imagens div img{
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}

.galeria .conteudo .imagens div img:hover{
    transform: scale(1.2);
}

.nossas-solucoes .conteudo .texto{
    text-align: center;
    width: 92%;
    margin: 0 auto;
}

.nossas-solucoes .conteudo .texto p{
    font-family: montLight;
    font-size: 1.5rem;
    color: #828383;
}

.cores .info .painel{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.cores .info .painel img{
    width: 100%;
}

.cores .info .opcoes-cores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: pink;
}

.cores .info .opcoes-cores div{
    display: flex;
    width: 100px;
    height: 75px;
    margin: 7px;
    object-fit: cover;
    object-position: center;
}

.cores .info .opcoes-cores div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.acabamentos .conteudo .imagens div{  
    z-index: 1;
    background-color: green !important;
    height: 350px !important;
    position: relative;
    cursor: pointer;
}

.acabamentos .conteudo .imagens div div{
    height: 300px !important;
    margin: 0;
}

.acabamentos .conteudo .imagens div p{
    height: 50px;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #828383;
    font-family: montRegular;
}

.informacao{
    width: 80%;
    margin: 20px auto;
    background-color: pink;
    padding: 30px 50px;
}

.informacao h1{
    text-transform: uppercase;
    font-family: oswaldBold;
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 3px;
}

.informacao p{
    color: white;
    font-size: 1.8rem;
    font-family: montLight;
}

.informacao.visao{
    background-color: var(--primary-color);
}

.informacao.missao{
    background-color: var(--secondary-color)
}

.informacao.valores{
    background-color: var(--tertiary-color);
}

.contato{
    /background-color: beige;
    margin: 0 auto !important;
    padding: 40px 10%;
}

.contato .form{
    /background-color: red;
}

.contato .form input,
.contato .form textarea{
    width: 100%;
    border-color: black;
    padding-left: 5px;
    border-radius: 0;
    border-width: 1.7px;
    margin: 5px 0 0 0;
    font-family: montRegular;
    font-size: 0.8rem;
}

.contato .form input{
    height: 30px;
}

.contato .form input:last-child,
.contato .form textarea{
    margin-bottom: 15px;
}

.contato .form textarea{
    height: 135px;
}

.contato .form input::placeholder,
.contato .form textarea::placeholder{
    color: black;
}

.contato h1{
    text-transform: uppercase;
    font-family: montSemiBold;
    color: var(--primary-color);
}

.contato .form .buttonEmail{
    width: 150px;
    font-family: montRegular;
    font-size: 0.8em;
    height: 25px;
    background-color: var(--primary-color);
    color: white;
    float: right;
    transition: 0.5s;
    cursor: pointer;
}

.contato .form .buttonEmail:hover{
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.contato .info section{
    display: flex;
}

.contato .info section img{
    width: 20px;
    height: 20px;
}

.contato .info section p{
    margin: 2px 5px;
}

footer{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    height: 250px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 250px;
}

@media only screen and (max-width: 767px)
{
    .cores .info .painel{
        width: 80%;
    }

    .cores .info .opcoes-cores div{
        width: 80px;
        height: 50px;
        margin: 5px;
    }

    .galeria .conteudo{
        max-width: 350px;
    }

    .galeria .conteudo .imagens{
        flex-wrap: wrap;
    }

    .galeria .conteudo .imagens div{
        margin: 10px 10px;
    }

    .galeria .conteudo .imagens div:nth-child(even){
        transform: translateY(0px);
    }

    .galeria .conteudo .imagens div img:hover{
        transform: scale(1.2);
    }

    /*.galeria .conteudo{
    width: 80%;
}

    .galeria .conteudo .imagens{
    flex-wrap: wrap;
}

    .galeria .conteudo .imagens div{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

    .galeria .conteudo .imagens div:nth-child(even){
    transform: translateY(0px);
}

    .galeria .conteudo .imagens div img{
    max-width: 200px;
    transform: scale(0.9)
}

    .galeria .conteudo .imagens div img:hover{
    transform: scale(1);
}*/

    .informacao{
        width: 80%;
        margin: 15px auto;
        padding: 30px 20px;
    }

    .informacao h1{
        font-size: 2.2rem;
        letter-spacing: 2px;
    }

    .informacao p{
        font-size: 1.2rem;
        margin: 0;
    }

    .contato{
        padding: 20px 10%;
    }

    .contato h1{
        font-size: 2rem;
    }

    .contato .form{
        margin-bottom: 20px;
        display: flex;
    }

    .contato .form input:last-child,
    .contato .form textarea{
        margin-bottom: 0px;
    }

    .contato .form textarea{
        height: 100px;
        margin-bottom: 5px;
    }

    .contato .form .buttonEmail:hover{
        background-color: white;
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .contato .info section{
        display: flex;
    }

    .contato .info section img{
        width: 20px;
        height: 20px;
    }

    .contato .info section p{
        margin: 2px 5px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px)
{    
    .cores .info .painel{
        width: 75%;
    }

    .cores .info .opcoes-cores div{
        height: 70px;
        margin: 5px;
    }

    .galeria .conteudo{
        margin: 15px auto;
        width: 70%;
        max-width: 600px;
        background-color: beige;
    }

    .galeria .conteudo .imagens{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeria .conteudo .imagens div{
        width: 210px !important;
        margin: 10px 10px;
        object-fit: contain;
        overflow: hidden;
    }

    .galeria .conteudo .imagens div:nth-child(even){
        transform: translateY(0px);
    }

    .galeria .conteudo .imagens div img:hover{
        transform: scale(1.2);
    }
}